<div style="height: 100vh;">

<%= image_tag("annie-spratt-1113344-unsplash.jpg", class: "bg", alt: "") %>

<div class="container mt-5 mb-5 align-middle">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card pl-5 pr-5 pt-5 pb-5">

<div class="container">

<h1 class="pink">Success!</h1>
<hr>

<p>You have booked with <%= @mentor.username %> for a session on <%= @booking.start_time %></p>

<%= link_to 'Home', root_path, class: "btn btn-primary" %>

</div>
</div>
</div>
</div>
</div>
</div>