<!-- Page Content -->
<div style="height: 100vh;">

<div class="container">

<%= image_tag("annie-spratt-1113344-unsplash.jpg", class: "bg", alt: "") %>

<div class="container mt-5 mb-5">

<div class="row justify-content-center">

<div class="card col-lg-6 pl-5 pr-5 pt-5 pb-5">

<h1 class="pink">Success!</h1>
<hr>

<p>You have booked with <%= @mentor.username %> for a session on <%= @booking.start_time %></p>

<div class="actions">
<%= link_to 'Home', root_path, class: "btn btn-primary" %>
</div>

</div>
</div>
</div>
</div>
</div>