<!-- Footer -->
<footer class="bg-light">
  <div class="container">
    <p class="m-0 text-center text-dark"><%= link_to 'Privacy and Terms', welcome_terms_path, class: 'nav-item-footer' %> Copyright &copy; MyMentor 2018</p>
  </div>
  <!-- /.container -->
</footer>