<div class="contact-background">
  <div class="container">
    <table style="height: 100vh;">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="over-image">Contact</h1>
          <h2 class="over-image">LinkedIn</h2>
          <p><a href="https://www.linkedin.com/in/coreyhellwege/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-light">Corey</a>
          <a href="https://www.linkedin.com/in/simontruong2/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-light">Simon</a>
          <a href="https://www.linkedin.com/in/vanessa-nimmo/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-light">Vanessa</a></p>

          <h2 class="over-image">Twitter</h2>
          <p><a href="https://twitter.com/nessnimmo?lang=en" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-light">@nessnimmo</a></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>