<div style="height: 100vh;">

<%= image_tag("rawpixel-340966-unsplash.jpg", class: "bg", alt: "") %>

<div class="container mt-5 mb-5 align-middle">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card pl-5 pr-5 pt-5 pb-5">

<div class="container">

<h1 class="pink">Contact</h1>
<hr>

          <h4>LinkedIn</h4>
          <p><a href="https://www.linkedin.com/in/coreyhellwege/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-primary">Corey</a>
          <a href="https://www.linkedin.com/in/simontruong2/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-primary">Simon</a>
          <a href="https://www.linkedin.com/in/vanessa-nimmo/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-primary">Vanessa</a></p>

          <h4>Twitter</h4>
          <p><a href="https://twitter.com/nessnimmo?lang=en" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-primary">@nessnimmo</a></p>
  </div>
</div>
</div>
</div>
</div>
</div>
