<div class="container">
  <h1>Contact</h1>
  <p>MyMentor was built by Corey, Simon and Vanessa as a student project.</p>

  <h2>LinkedIn</h2>
  <p><a href="https://www.linkedin.com/in/coreyhellwege/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-primary">Corey</a>
  <a href="https://www.linkedin.com/in/simontruong2/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-primary">Simon</a>
  <a href="https://www.linkedin.com/in/vanessa-nimmo/" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-primary">Vanessa</a></p>

  <h2>Twitter</h2>
  <p><a href="https://twitter.com/nessnimmo?lang=en" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-primary">@nessnimmo</a></p>
</div>