
<div class="home">  
  <div class="container">
    <table style="height: 100vh;">
      <tbody>
        <tr>
          <td class="align-middle"><h1 class="home-title over-image">Where inspiration meets</h1></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
