
<div class="home">  
  <div class="container">
    <table style="height: 100vh;">
      <tbody>
        <tr>

          <td class="align-middle">
          
            <h1 class="col home-title over-image">Where inspiration meets</h1>
            <br>
            <hr class="col-2 pink-line">
            <br>
            <p class="col-5 lead over-image">MyMentor connects talented professionals with aspiring individuals within the technology industry in Melbourne. </p>
            
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

