<%= image_tag("mimi-thian-737626-unsplash.jpg", class: "bg", alt: "") %>

<div class="container mt-5 mb-5 align-middle">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card pl-5 pr-5 pt-5 pb-5">

<div class="container">

<h1 class="pink">Privacy Policy</h1>
<hr>

  <h4>What do we collect?</h4>
  <p>We only collect what you give to us in form fields, bookings and in-app messages (if applicable), and the time that your interactions with our app occur.</p>
  <p>We don't collect information about how you use our site.</p>

  <h4>What kind of information do we share?</h4>
  <p>If you have an active mentor profile, your username, avatar, skills, availability and session price are visible to all users as a mentor profile. If someone books with you your email address and username is shared with them.</p>
  <p>If you make a booking, your email address and username is shared with the mentor with whom you book.</p>
  <p>We use the third party apps MailGun and Stripe. We share your email address with MailGun in order to email you about your bookings.</p> 
  <p>Stripe uses its own OAuth system, so we don't share any of your data with them. If you choose to connect your Stripe account with our Stripe Connect platform, you will be assigned a stripe_user_id which Stripe will share with us to allow us to direct payments to you. When someone pays you we store the charge_id provided by Stripe, but all card and bank information stays with Stripe.</p>

  <h4>How can I manage or delete information about me?</h4>
  <p>You can edit your profile and mentor information via the buttons on the My Info page. If you haven't made any bookings either as a mentor or mentee, you can delete your user account using the button on the edit page. This will also delete any mentor profile associated with this user account, and any reviews given to or by this user.</p>

  <p>If you have made any bookings with the app, you will be able to deactivate your account but not to delete it. Contact the administrators to make alterations to these bookings and/or to delete your account.</p>

  <h4>How to we notify you of changes to this policy?</h4>
  <p>You will be notified via email of any changes to this policy.</p>

  <h4>How can I contact the administrators?</h4>
  <p>You can contact us by emailing mymentorcontact@gmail.com</p>

  <p>Date of last revision: 7 November 2018</p>

  <br>
  <hr>
  
  <h2 class="pink">Terms and Conditions of Use</h2>

  <p>You must be over 18 years old to use this service.</p>

  <p>As a condition of use, you promise not to use MyMentor for any purpose that is unlawful or prohibited by these terms. These include but are not limited to:</p>
  <ol>
    <li>To abuse, harrass, threaten, impersonate or intimidate any person;</li>
    <li>To post or transmit any content that is libelous, defamatory, obscene, pornographic, abusive, offensive, profane, or that infinges any copyright or other right of any person;</li>
    <li>To communicate with MyMentor or other users in an abusive or offensive manner;</li>
    <li>To post or transmit any communication designed or intended to obtain password, account or private information from any MyMentor user;</li>
    <li>To create or transmit unwanted 'spam' to any person or any URL;</li>
    <li>To post copyrighted content that does not belong to you.</li>
  </ol>

</div>
</div>
</div>
</div>
</div>