<div class="container">
  <h1>Privacy Policy</h1>

  <h2>Data Policy</h2>

  <h3>What do we collect?</h3>
  <p>We only collect what you give to us in form fields, bookings and in-app messages (if applicaple), and the time that your interactions with our app occur.</p>
  <p>We don't collect information about how you use our site.</p>

  <h3>What kind of information do we share?</h3>
  <p>If you have an active mentor profile, your username, avatar, skills, availability and session price are visible to all users as a mentor profile. If someone books with you your email address and username is shared with them.</p>
  <p>If you make a booking, your email address and username is shared with the mentor with whom you book.</p>
  <p>We use the third party apps MailGun and Stripe. We share your email address with MailGun in order to email you about your bookings.</p> 
  <p>Stripe uses its own OAuth system, so we don't share any of your data with them. If you choose to connect your Stripe account with our Stripe Connect platform, you will be assigned a stripe_user_id which Stripe will share with us to allow us to direct payments to you. When someone pays you we store the charge_id provided by Stripe, but all card and bank information stays with Stripe.</p>

  <h3>How can I manage or delete information about me?</h3>
  <p></p>
  
  <h1>Terms and Conditions of Use</h1>

  <p>You must be over 18 years old to use our service.</p>

</div>