<h1>You have made a booking!</h1>

<p>Your booking is with <%= @mentor.user.username %> on <%= @booking.start_time.strftime("%d, %B") %> at <%= @booking.start_time.strftime("%H:%M") %>.</p>

<p>Please contact them via email to arrange the meeting: <%= @mentor.user.email %></p>

<p>Cheers,</p>
<p>MyMentor</p>