<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Jumbotron Header -->
    <header class="jumbotron background-image ml-0 mr-0">
        <div class="container">
            <h1 class="display-3 over-image">Meet the Mentors!</h1>
            <p class="lead over-image">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Features -->
      <div class="row text-center">
      <% @mentors.each do |mentor| %>
      <!-- Push this up into the mentors controller and pass through an array of each mentor and their user profile. -->
       <% @user = User.find(mentor.user_id) %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <%= image_tag @user.avatar, class: "card-img-top", alt: "" %>
            <div class="card-body">
              <h4 class="card-title"><%= @user.username %></h4>
              <p class="card-text"><%= @user.about_me %></p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
      <% end %>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
